@keyframes borderSpread {
  0% {
    border-color: #283C4F;
  }
  100% {
    border-color: #202533;
  }
}

.border-spread {
  animation: borderSpread 1s ease-in-out infinite alternate;
  border-width: 5px;
  border-style: solid;
}