@keyframes colorSpread {
  0% {
    background-image: url("./spread/1.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background-image: url("./spread/2.png");
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  100% {
    background-image: url("./spread/3.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.bg-color-animation {
  animation: colorSpread 5s linear forwards infinite;
}